.file , .folder{
  height: 140px;
}

.file_name > span {
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.file_content_area {
    margin: 0;
    padding: 0;
    border: none;
    width:100%;
    height:530px;
}
